streamlit
pypdf
networkx
spacy
torch
transformers
pinecone-client
plotly
python-dotenv
langchain
langchain-groq
streamlit-chat
streamlit-agraph
nltk
scikit-learn
neo4j-driver==4.4.0
python-dotenv==0.19.0
spacy>=3.0.0
en_core_web_sm